*{
    box-sizing: border-box;
}

.plane{
    position: absolute;
    top:100px;
    left:200px;
    width:100px;
    height: 100px;
    background-image: url("/assets/img/plane.png");
    background-size: 100% 100%;
}