* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(/assets/img/cloud.png);
}

.score {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 2rem;
}

.plane {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 150px;
    height: 100px;
    background-image: url("/assets/img/plane.png");
    background-size: 100% 100%;
}

.gameMessage {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/img/banner.jpg");
    background-size: 100% 100%;
    color: rgb(255, 187, 0);
    font-size: 4rem;
    font-family: fantasy;
    letter-spacing: 3px;
    cursor: pointer;

}

.bigger {
    font-size: 5rem;
    transition: 1s ease-in-out;

}

.hide {
    display: none;
}

.base {
    position: absolute;
    bottom: 0;
    left: 100px;
    color: white;
    background-color: black;
    width: 50px;
    height: 100px;
    background-size: cover;
}

.bomb {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 2.3rem; 
    z-index: -1;
}